*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;

    font: bold 16px Arial, sans-serif;
}

/*background gradient*/
html{
    height: 100%;
    /*background: radial-gradient(circle, #fff 20%, #ccc);*/
    /*background-size: cover;*/
    /*background: indianred;*/
}

#calculator{
    width: 500px;
    height: 265px;

    margin: 100px auto;
    /*padding: 20px 20px 9px;*/
    background: linear-gradient(#b7e1ea,#8bceec);
    border-radius: 3px;
    box-shadow: 0px 9px #009de4;
}

#keys, #equal, #c, #back{
    float: left;
    width: 60px;
    height: 40px;
    background:  white;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0px 4px #009de4;

    margin: 10px 0 0 10px;

/*needed for pressing effect*/
    position: relative;

}
#keys.basicOperator{
    background: #b9ffec;
}

#keys.specialOperator{
    background: #ffd7aa;
}

#c, #back{
    background: #ffea89;
}

#equal{
    background: #c6ffa1;
}

#keys:hover, #equal:hover, #c:hover, #back:hover{
    background: #ffaaa2;
    cursor: pointer;
}

#display{
    width: 340px;
    height: 40px;
    text-align: right;
    padding: 0 10px 0;
    color: #fff4f7;
    background: rgba(0,0,0,0.2);
    border: 0;
    border-radius: 5px;
    margin: 10px 0 0 10px;
    box-shadow: inset 0px 4px rgba(0,0,0,0.2);
}

#keys:active, #equal:active, #c:active, #back:active{
    background: #ffe16a;
    box-shadow: none;
    /*pressing effect down*/
    top: 4px;
}