*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font: bold 16px Arial, sans-serif;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}

html{
    height: 100%;
}

.designButton{
    background:  white;
    border-radius: 5px;
    /*border: none;*/
    /*outline: none;*/
}

#calculator1, #calculator2, #calculator3{
    width: 500px;
    height: 265px;

    margin: 100px auto;
    /*padding: 20px 20px 9px;*/
    background: linear-gradient(#b7e1ea,#8bceec);
    border-radius: 3px;
    box-shadow: 0px 9px #009de4;
}
#calculator2 {
    /*background: linear-gradient(#e1eab3,#8bceec);*/
    background: linear-gradient(rgb(90, 184, 161), #6edfc4);
    width: 420px;
    height: 280px;
}

#calculator3{
    padding: 10px;
    background: linear-gradient(#2b3256, #222438);
    width: 480px;
    height: 420px;
}

.keys, .keys2, .keys3{
    float: left;
    width: 60px;
    height: 40px;
    background:  white;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0px 4px #009de4;
    margin: 10px 0 0 10px;
/*needed for pressing effect*/
    position: relative;
}
.keys2{
    font-size: 16px;
    width: 40px;
    border-radius: 20px;
    background: #f6faff;
    box-shadow: 0px 4px #1d6a6b;
}

.keys3{
    height: 60px;
    margin: 6px 0 0 2px;
    font-size: 22px;
}

.basicOperator, .basicOperator2, .basicOperator3{
    background: #b9ffec;
}

.specialOperator, .specialOperator2, .specialOperator3{
    background: #ffd7aa;
}

.specialOperator2{
    background: #c2fffb;
}

.specialOperator3{
    background: #b0beff;
}

.equal{
    background: #c6ffa1;
}

#equal2{
    height: 200px;
    width: 40px;
}

#equal3{
    width: 455px;
    background: rgb(218, 227, 255);
}

.c, .back{
    background: #ffea89;
}


#display1, #display2, #display3{
    width: 340px;
    height: 40px;
    text-align: right;
    padding: 0 10px 0;
    color: #fff4f7;
    background: rgba(0,0,0,0.2);
    border: 0;
    border-radius: 5px;
    margin: 10px 0 0 10px;
    box-shadow: inset 0px 4px rgba(0,0,0,0.2);
}
#display2{
    width: 350px;
    font-size: 16px;
    background: #198e88;
}

#display3{
    height: 60px;
    width: 392px;
    margin: 6px 0 0 0 ;
    font-size: 25px;
    background: rgba(255, 255, 255, 0.30);
}

.keys:hover, .keys2:hover, .keys3:hover{
    background: #ffaaa2;
    cursor: pointer;
}

.keys:active, .keys2:active, .keys3:active{
    background: #ffe16a;
    box-shadow: none;
    /*pressing effect down*/
    top: 4px;
}

 /*d3 graph*/
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.tick line{
    opacity: 0.2;
}

/* Bar Chart */

/*.bar {*/
    /*fill: #54b49a;*/
/*}*/

/*.bar:hover {*/
    /*fill: #a5575c;*/
/*}*/

/*.axis {*/
    /*font: 10px sans-serif;*/
/*}*/

/*.axis path,*/
/*.axis line {*/
    /*fill: none;*/
    /*stroke: #000;*/
    /*shape-rendering: crispEdges;*/
/*}*/

/*.x.axis path {*/
    /*display: none;*/
/*}*/

/*.graph{*/
    /*margin-left: 500px;*/
/*}*/









/*.chart .legend {*/
    /*fill: black;*/
    /*font: 14px sans-serif;*/
    /*text-anchor: start;*/
    /*font-size: 12px;*/
/*}*/

/*.chart text {*/
    /*fill: white;*/
    /*font: 10px sans-serif;*/
    /*text-anchor: end;*/
/*}*/

/*.chart .label {*/
    /*fill: black;*/
    /*font: 14px sans-serif;*/
    /*text-anchor: end;*/
/*}*/

/*.bar:hover {*/
    /*fill: brown;*/
/*}*/

/*.axis path,*/
/*.axis line {*/
    /*fill: none;*/
    /*stroke: #000;*/
    /*shape-rendering: crispEdges;*/
/*}*/
